.avarii { // kolmas leht background
    width: 100%;
    height: 820px;
    background-color: #F3F3F3;
    margin: auto;
  }
  
  
  .avarii_image_container {
    height: 820px;
    width: 30%;
    
    float: right;
    background-image: url("https://cms.idealauto.ee/storage/103/039913751fff4ffaa9f999649919ebfc.jpg");
  
    width: 30%;
    position: relative;
    background-size: cover;
    background-position: 45%;
  }
  
  .avarii_image_honeycomb {
    margin-left: 60px;
    margin-top: 354.5px;
    height: 465.01px;
    width: 437.34px;
    background-image: url(../Disain/honeycombs/honeycomb.svg);
    position: absolute;
    transform: rotate(90deg);

  
  }
  
  
  .avarii_container {

  
    display: flex;
    padding: 120px 20px 120px;
    
  }
  .avarii_table{
    width: 560px;
    height: 520px;
  
  
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    
    
  }
  
  .avarii_table_header {
    width: 552px;
    height: 104px;
    background-color: #F3F3F3;
  }
  
  .avarii_table_header p {
    color: #474B4F;
    font-family: Montserrat, arial, sans-serif;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 52px;
    text-transform: uppercase;

    
  }
  
  .avarii_table_header p span {
    font-weight: 800;
  }
  
  .avarii_table_rectangle{
    margin-top: 20px;
    height: 4px;
    width: 48px;
    transform: scaleY(-1);
    background-color: #37B34A;
  }
  
  .avarii_table_list {
    height: 208px;
    width: 357px;
    background-color: #F3F3F3;
    //padding: 0 0 0 10px; 
    margin-bottom: 110px;
  
  }
  
  .avarii_list_item {
    display: flex;
    color: #474b4f;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 28px;
    margin-top: 16px;
    font-family: Montserrat, arial, sans-serif;
  }
  
  
  .checkmark {
    width: 30px;
    height: 30px;
    background-image: url("../Disain/icons/ideal auto icons/checkmark_full.svg");
    margin-right: 15px;
    
  }
  
  
  .avarii_buttons {
    list-style: none;
    display: flex;
    margin-top: 70px;
    margin-left: -40px;
  }
  
  .button3 {
    box-sizing: border-box;
    height: 65px;
    width: 188px;
    border: 1px solid #474B4F;
    margin-left: 25px;
  }
  
  .button3 p {
    color: #474B4F;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
  }
  
  
  .kahjuavaldus_container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    
  }
  
  .chevron {
    margin-right: 12px;
    height: 50%;
    width: 15px;
    background-image: url("../Disain/icons/ideal auto icons/chevron.svg");
  }
  
  .kahjuavaldus {
    height: 15px;
    width: 200px;
    color: #474B4F;
    font-family: Montserrat, arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 15px;
    text-transform: uppercase;
  }


@media screen and (max-width: 575px) { // phone 
    .avarii_image_container {
        display: none;

    }

    .avarii_container {
        padding: 0;
        padding-top: 50px;
    }

    .avarii_table {
        width: 100%;
        height: 100%;
        max-width: 575px;
        margin-left: 10px;

    }

    .avarii_table_header{
        max-width: 500px;
        margin-bottom: 85px;
        width: 100%;
        
    }

    .avarii_list_item {
      width: 95%;
    }


    .avarii_table_header p {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 38px;
        line-height: 48px;
        
    }

    .avarii_buttons {
        width: 100%;
        flex-direction: column;
        margin-left: -20px;
    }

    .button1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .button3 {
        width: 100%;
        margin-left: 0;
    }


}
@media screen and (max-width: 1000px) and (min-width: 575px) { 
  .avarii_image_container {
      display: none;

  }

  .avarii_table {
    margin-top: -50px;
    
  }

  .avarii_table_header {
    margin-bottom: 60px;
    width: 100%;
    min-width: 535px;
    
  }

  .avarii_table_header p {
    font-size: 47px;
  }


}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .avarii_image_honeycomb {
    
    margin-left: 0px;
    
    width: 400px;
    background-image: url(../Disain/honeycombs/honeycomb.svg);
    margin-top: 385px;

  }

}
