.burger {
    display: none;
    margin-top: 20px;
    margin-right: 20px;
    
  }


.burger div {
  width: 27px;
  height: 4px;
  background-color: #009345;
  margin: 5px;
}

.burger-wrapper {
  display: none;
}


@media screen and (max-width: 830px) { // phone
  
  .burger {
      display: block;
      float: right;
      cursor: pointer;
  }

  .burger-wrapper {

    
    z-index: 2000;
    width: 100%;
    height: 1000px;

    background: rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    
    transition: transform 0.5s ease-in;
    
    position: fixed;
    display: block;
    
  }


  .burger-menu-wrapper {
    
    right: 0px;
    z-index: 1100;
    width: 300px;
    height: 1000px;


    float: right;
    
  }

  .burger-menu {
    background: #3e3e3e;
    padding: 0px 0 0 0;
    font-size: 14px;
    width: 100%;
    height: 1000px;
    
  }

  .background_bitmap {
    position: relative;
  }



  .burger-close {
    width: 30px;
    height: 30px;
    
    float: right;
    margin: 20px 20px 20px;
  }
  
  .cross1{
    position: absolute;
    width: 5px;
    height: 30px;
    transform: rotate(45deg);
    background-color: greenyellow;
  }

  .cross2{
    position: absolute;
    width: 5px;
    height: 30px;
    transform: rotate(-45deg);
    background-color: greenyellow;
  }

    
  .header_nav {
    display: none;
  }

  .header {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    
    position: absolute;
    z-index: 1;
    
  }

  .innerheader {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav-active {
    transform: translateX(0%);

  }

  .fix-active {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    
  }


  .bm-items {
    float: left;
    width: 100%;
    height: 600px;
    display: flex;

  }

  .bm-nav-items {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0px;
    

  }


  .bm-item-dropdown {
    width: 100%;
    height: auto;
    
    display: inline-block;
    
  }


  .bm-dropdown {
    display: block;
    width: 100%;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    
    

  }

  .bm-dropdown a { // tekst
    padding: 15px 0px 15px 50px; // top right bottom left
    color: #fff;
    height: 50px;
    width: 100%;
    
    
    font-size: 14px;
    font-weight:500;
    display: block;
    position: relative;
    font-family: Montserrat;
    box-sizing: border-box;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

  }
  
  .bm-dropdown-button {
    padding: 15px 0px 15px 30px; //firmast nipid kontakt
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    
  }




  .dropdown-active {
    max-height: 300px;
  }

  .bm-nav-items a {
    text-decoration: none;
    font-family: Montserrat;
    color: white;
  }
  
  .bm-item {
    //margin-left: 30px;

    padding: 15px 0px 15px 30px; //firmast nipid kontakt
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    
    
  }
  
}