.cars_container {
    height: 450px;

    display: flex;
    flex: row;
    flex-wrap: wrap;

    width: 100%;

  
  }
  
  .single-container {
    height: 100%;
    width: 50%;
  
    display: flex;
    overflow: hidden;
    cursor: pointer;
    
  }
  
  
  .big-car {
    border: 10px solid #fff;
    width: 100%;
    overflow: hidden;
    
  }
  
  
  .big-car div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s;
    position: relative;
    //background-image: url("/app/Disain/ideal pildid weebi/uued pildid 5 märts 2019/avalehe galerii/_DSF0279.jpg");
  }
  
  
  .big-car div:hover {
    transform: scale(1.05);
  }
  
  
  .multi-container {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
  
    overflow: hidden;
    cursor: pointer;
  }
  
  
  .small-car {
    width: 50%;
    border: 5px solid white;

    overflow: hidden;
   
  }
  
  .small-car div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    transition: transform 0.2s;
    
    
  }
  
  .small-car div:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }
  


@media screen and (max-width: 720px) {
  .single-container{
    display: none;
  }
  
  .cars_container {
    height: 300px;
  }

  .multi-container {
    width: 100%;
    border-left: 10px solid white;
    border-right: 10px;
  }
  
}