.page {
  width: 100%;
  height: 800px;
  //margin-top: -21px;
}

.contactWrapper {
  width: 100%;
  height: 100%;
  max-width: 1100px;

  margin: 0 auto;
  padding: 0 20px;
}

.overlay-image-wrapper {
  height: 100%;
  width: 500px;
  float: right;
  margin-top: -200px;
  //background-color: yellow;
}
.overlay-image {
  background-image: url('../Disain/ideal pildid weebi/Kategooriate pildid (väljalõigatud)/firm_kont.png');
  width: 750px;
  height: 100%;
  float: right;
}

.contactContainer {
  max-width: 700px;

  height: 100%;
}

.heading {
  text-transform: uppercase;
  color: #37b34a;
  padding-top: 180px;
  font-size: large;
}

.rectangle {
  height: 4px;
  width: 48px;
  transform: scaleY(-1);
  background-color: #37b34a;
}

.contact-table {
  width: 100%;
  height: auto; // muuta autoks
}

.title {
  width: 100%;
  height: 50%;
  padding-left: 20px;
  padding-bottom: 10px;
}

.info {
  padding: 0 20px 25px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.service {
  margin-top: 50px;
}
.service-icon {
  float: left;
  height: 40px;
  width: 40px;
  background-image: url('https://www.idealauto.ee/static/icons/check.svg');

  margin-right: 20px;
}

.sale-icon {
  float: left;
  background: url('https://www.idealauto.ee/static/icons/icon-cars-green.svg') no-repeat;
  margin-right: 20px;

  width: 40px;
  height: 40px;
  border: 2px solid #37b34a;
  border-radius: 50%;

  background-size: 70%;
  background-position: 50% 50%;
}

.carwash-icon {
  float: left;
  background: url('https://www.idealauto.ee/static/icons/icon-carwash-green.svg') no-repeat;
  margin-right: 20px;

  width: 40px;
  height: 40px;
  border: 2px solid #37b34a;
  border-radius: 50%;

  background-size: 50%;
  background-position: 50% 50%;
}

.address-icon {
  // href aadress
  float: left;
  height: 40px;
  width: 40px;
  background-image: url('https://www.idealauto.ee/static/icons/location.svg');

  margin-right: 20px;
}
.phone {
  padding-bottom: 20px;
}

.phone a {
  padding: 0;
}

.phone-icon {
  float: left;
  height: 40px;
  width: 40px;
  background-image: url('https://www.idealauto.ee/static/icons/call.svg');

  margin-right: 20px;
}

.email-icon {
  float: left;
  height: 40px;
  width: 40px;
  background-image: url('https://www.idealauto.ee/static/icons/email.svg');
  background-size: contain;

  margin-right: 20px;
}
