.email-container {
  width: 100%;
  height: 530px;
  background: #f3f3f3;
}

.inner-email-container {
  padding: 48px 0;
  width: 100%;
  height: 100%;
}

.maxwidth-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.email-header {
  color: #37b34a;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  margin-bottom: 24px;
}

.inputs {
  display: flex;
  text-decoration: none;
}

.input-header {
  margin-top: 21px;
  margin-bottom: 6px;
  color: #474b4f;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 15px;
  text-transform: uppercase;
}

.inputs input {
  height: 48px;
  width: 400px;
  border: 0.5px solid #afafaf;
  background-color: #f3f3f3;
  padding-left: 20px;
  outline: none;
  color: #474b4f;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 15px;
}

.message-container {
  padding-left: 50px;
}

.message-container textarea {
  padding-left: 20px;
  padding-top: 13px;
  height: 228px;
  width: 400px;
  border: 0.5px solid #afafaf;
  background-color: #f3f3f3;
  resize: none;
  color: #474b4f;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 15px;
}

.send-container {
  width: 80%;
  height: 70px;
  margin-top: 30px;
}

.button-container {
  // value="submit"
  width: 180px;
  height: 100%;
  float: right;
}

.button {
  height: 100%;
  width: 100%;
}

.form-field {
  list-style: none;
}

.button input {
  padding: 0 20px;
  background-color: #37b34a;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.35px;
  line-height: 18px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  outline: none;
  height: 100%;
  width: 100%;

  cursor: pointer;
}

.sent-message {
  color: #37b34a;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
}
