//HomePage
@import 'normalize.css/normalize.css';
@import 'heropage.scss';
@import 'navigation-bar.scss';
@import 'vahetus.scss';
@import 'avarii.scss';
@import 'pesutänav.scss';
@import 'cars-container.scss';
@import 'firmast.scss';
@import 'burgermenu.scss';
@import 'header.scss';
@import 'errorpage.scss';

//ContactPage
@import 'contactPage.scss';
@import 'email.scss';

// VehiclesPage
@import 'vehicles.scss';
@import 'listing.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

body {
  // 320px is the smallest mobile device, so we don't have to support smaller screens than that.
  min-width: 320px;
  box-sizing: border-box;
  position: relative;
  display: block;
  font-family: Montserrat;
}

// googlemaps + footer css

.googlemaps {
  width: 100%;
  height: 500px;
  display: flex;
}

.map {
  float: left;
  width: 60%;
  height: 100%;
}

.map_canvas {
  overflow: hidden;
  height: 500px;
  width: 100%;
}

.streetview {
  width: 40%;
  height: 100%;
  float: right;
  background-color: yellow;
  background-image: url(https://www.idealauto.ee/static/ideal-HQ.jpg);

  background-position: 50% 50%;
  background-size: cover;
}

.footer {
  height: 196px;
  width: 100%;
  background-color: #25242e;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer_logo {
  height: 36px;
  width: 200px;
  background-image: url('https://www.idealauto.ee/static/idealauto-logo-light.svg');

  margin-top: 40px;
}

.footer_contact {
  height: 24px;
  max-width: 1000px;

  margin-top: 40px;
}

@media screen and (max-width: 770px) {
  // phone

  .googlemaps {
    display: flex;
    flex-direction: column;
    height: 1000px;
  }

  .map {
    width: 100%;
  }

  .streetview {
    height: 100%;
    width: 100%;

    background-position: 40% 60%;
    background-size: cover;
  }
}

@media screen and (max-width: 800px) {
  .footer_logo {
    display: none;
  }

  .footer {
    height: 450px;
    width: 100%;
  }

  .footer_contact {
    width: 100%;
  }
}
