.firmast { //5. leht background
    height: 754px;
    width: 100%;
    margin: auto;
    background-color: #25242E;
    display: flex;
    justify-content: center;
  }
  
  
  .firmast_table {
    height: 490px;
    width: 824px;
    margin-top: 144px;
  }
  
  .firmast_table_header {
    width: 824px;
    height: 130px;
    margin-top: -56px;
    
  }
  
  .firmast_table_header p {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 56px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 65px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  
  .long_rectangle {
    height: 12px;
    width: 680px;
    transform: scaleY(-1);
    background-color: #5AEF2C;
    margin-top: -140px;
    margin-left: 80px;
    
    
  }
  
  .squares {
    margin: 0 auto;
    margin-top: 24px;
    
    height: 16px;
    width: 80px;
    
    display: flex;
    justify-content: space-between;
  }
  
  
  .square {
    box-sizing: border-box;
    height: 13px;
    width: 13px;
    border: 1px solid #5AEF2C;
    transform: rotate(45deg);
  }
  
  .firmast_text p {
    height: 168px;
    width: 480px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 28px;
    text-align: center;
    margin: auto;
    margin-top: 24px;
  }
  
  .firmast_button {
    box-sizing: border-box;
    height: 64px;
    width: 180px;
    border: 1px solid #5AEF2C;
    margin: 0 auto;
    margin-top: 64px;
  }

  .firmast_button p {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    margin-top: 22px;
    text-align: center;
    text-transform: uppercase;
  }


  @media screen and (max-width: 575px) {

    .long_rectangle {
      display: none;
    }

    .firmast_table {
      width: 90%;
      margin-top: 100px;

    }

    .firmast_table_header {
      min-width: 290px;
      
      width: 100%;
    }

    .squares {
      margin-top: 60px;
    }

    .square {
      height: 10px;
      width: 10px;
    }

    .firmast_table_header p {
      font-size: 38px;
      line-height: 48px;
    }

    .firmast_text {
      max-width: 550px;
      width: 100%;
      margin: 0 auto;
      display: flex;

    }

    .firmast_button {
      margin: 0 auto;
      margin-top: 110px;
      width: 90%;
    
  }
}

@media screen and (min-width: 575px) and (max-width: 820px) {
  .long_rectangle {
    display: none;
  }
  
  .firmast_table_header {
    min-width: 290px;
    
    width: 100%;
    margin-bottom: 100px;
  }

  .squares {
    margin: 0 auto;
  }

}