.header {
  height: 70px;
  //display: flex;
  width: 66.2%;
  background-color: #ffffff;

  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

  position: relative;
  float: left; // MVP
  z-index: 100;
  right: -1px;
}

.innerheader {
  width: 80%;
  height: 100%;
  display: block;

  margin-left: 15%;
  background-color: #ffffff;
}

.triangle {
  clip-path: polygon(100% 0, 0 0, 0 88%);

  background-color: white;

  height: 80px;
  width: 80px;
  float: left;
  position: relative;
}

.random_shape {
  height: 30px;
  width: 33.8%;

  background-color: white;

  float: right;
  z-index: 200;
  position: relative;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
  margin-left: 15%;
  position: absolute;
  cursor: pointer;
}

.logo_container a {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.locale-container {
  display: flex;
  flex-direction: row;
  width: 85px;
  height: 20px;
  font-family: Montserrat;
  text-decoration: none;
  font-size: smaller;
  background-color: #e8e8e8;
}

.lang-item a {
  text-decoration: black;
  margin-left: 10px;
}

.lang-item.active-lang a {
  color: black;
}

@media screen and (min-width: 575px) and (max-width: 815px) {
  .background_honeycomb {
    float: right;
    width: 30%;
    height: 320px;

    background-position: 50% 50%;
    background-size: cover;
    z-index: 1000;
    top: 70px;
  }

  .logo_container {
    margin-top: 5px;
    margin-left: 50px;
  }

  .random_shape {
    display: none;
  }

  .background_container {
    max-width: 650px;
    margin-left: 20px;
  }

  .text {
    width: 100%;
    font-size: 55px;
    line-height: 40px;
    height: auto;
    margin-bottom: -20px;
    margin-top: 250px;
  }

  .button_container {
    margin-top: 40px;
    margin-bottom: 300px;
  }

  .button_flex {
    width: 500px;
  }
}

@media screen and (min-width: 815px) and (max-width: 830px) {
  .text_container {
    margin-top: 300px;
  }

  .logo_container {
    margin-top: 5px;
    margin-left: 50px;
  }

  .random_shape {
    display: none;
  }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
  .contact_container {
    width: 90%;

    z-index: 75;
    padding-top: 10px;
    margin-bottom: 100px;
  }

  .time-flex p {
    width: 100%;
    max-width: 340px;
  }
  .contact-flex {
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-width: 831px) and (max-width: 1100px) {
  .header {
    width: 70%;
  }

  .logo_container {
    margin-left: 0;
  }

  .innerheader {
    margin-left: 20px;
  }

  .header_nav {
    padding-left: 20%;
  }

  .random_shape {
    width: 30%;
  }

  .menu_item {
    padding: 6px 10px 6px 15px;
  }
}

@media screen and (min-width: 831px) and (max-width: 1550px) {
  .header_nav {
    padding-left: 30%;
  }

  .menu_item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav_item_dropdown {
    width: 25%;
  }

  .header {
    width: 70.001%;
    right: -1px;
  }

  .logo_container {
    margin-left: 0;
  }

  .random_shape {
    width: 30%;
  }
}
