.background {
  padding-top: 50px;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 900px;
  height: 100%;
  width: 100%;
}

.background_bitmap {
  min-height: 950px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background: url('../Disain/ideal pildid weebi/avaleht/ideal_hero.jpg');
  margin-top: -50px;
  overflow: hidden;
  position: absolute;

  background-position: 50% 50%;
  background-size: cover;
}

.background_honeycomb {
  // 1.lehe honeycomb
  background-image: url('../Disain/honeycombs/honeycomb MERGED.svg');
  width: 628px;
  height: 638px;
  float: right;
  position: absolute;
  right: 0px;
}

.background_container {
  // 1.leht
  max-width: 1100px;

  margin: 0 auto;
  padding: 0 10px;
}

.text {
  max-height: 258px;
  height: auto;
  max-width: 717px;
  width: 100%;
  color: #ffffff;
  font-family: Montserrat, arial, sans-serif;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: -1.05px;
  line-height: 86px;
}

.text p {
  width: 100%;
  text-transform: uppercase;
}

.text p span {
  color: #5aef2c;
}

.text_name {
  height: 29px;
  width: 382px;
  opacity: 0.8;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 0.38px;
  line-height: 29px;
  text-transform: uppercase;
}

.text_container {
  margin-top: 200px;
  max-height: 321px;
  height: auto;
  max-width: 717px;
  width: 100%;
}

.button_container {
  margin-top: 64px;
  height: 144px;
  max-width: 761px;
  width: 100%;

  margin-bottom: 20px;
}

.button_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  width: 245px;
  height: 60px;
  margin-top: 15px;
  padding-left: 20px;
  display: flex;

  box-sizing: border-box;
  white-space: nowrap;
  background-color: rgba(90, 239, 44, 0.05);
  border: 1px solid rgba(90, 239, 44, 0.5);

  color: #5aef2c;
}

.chevron_container {
  height: 16px;
  width: 35px;
  background-image: url('../Disain/icons/ideal auto icons/chevron.svg');

  margin-left: 85px;
  margin-right: 15px;

  align-self: center;
  position: relative;
}

.chevron_container:hover {
  transition: transform 0.5s;
  left: 10px;
  cursor: pointer;
}

.flex-item p {
  height: 28px;
  width: 111px;
  color: #5aef2c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.09px;
  line-height: 28px;
  padding-right: 100px;
  text-transform: uppercase;
}

.contact_container {
  padding-top: 100px;
  height: 24px;

  max-width: 950px;

  margin: 0 auto;
}

.contact-flex {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.contact-flex p {
  height: 24px;
  width: 339px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.73px;
  text-transform: uppercase;
}

.time-flex {
  display: flex;

  width: 100%;
  height: 24px;
}

.time-flex:hover {
  transition: transform 0.5s;
  top: -10px;
}

.time_icon {
  background-image: url('../Disain/icons/ideal auto icons/time.svg');
  height: 26px;
  width: 26px;
}

.icon_container {
  width: 26px;
  height: 26px;
  margin-right: 11px;
  margin-top: 3px;
}

.location-flex {
  width: 257px;
  height: 24px;
  display: flex;
  margin-left: 10px;
  position: relative;
}

.location-flex:hover {
  transition: transform 0.5s;
  top: -10px;
}

.location_icon {
  width: 26px;
  height: 26px;
  background-image: url('../Disain/icons/ideal\ auto\ icons/location.svg');
}

.phone-flex {
  display: flex;
  width: 124px;
  height: 24px;
  position: relative;
  margin-left: 15px;
}

.phone-flex:hover {
  transition: transform 0.5s;
  top: -10px;
}

.phone_icon {
  width: 26px;
  height: 26px;
  background-image: url('../Disain/icons/ideal\ auto\ icons/phone.svg');
}

.social-flex {
  display: flex;
  width: 107px;
  height: 24px;
  margin-left: 25px;
  position: relative;
}

.social-flex:hover {
  transition: transform 0.5s;
  top: -10px;
}

.social_icon {
  width: 26px;
  height: 26px;
  background-image: url('../Disain/icons/ideal\ auto\ icons/facebook.svg');
}

@media screen and (max-width: 575px) {
  // phone -> 575 px

  .background_honeycomb {
    display: none;
  }

  .logo_container {
    float: left;
    padding: 0;
    margin-left: 20px;
    margin-top: 5px;
  }

  .random_shape {
    display: none;
  }

  .background {
    width: 100%;
    display: flex;

    background-size: cover;
    overflow: hidden;
  }

  .background_bitmap {
    min-height: 950px;
    max-width: 575px;
    width: 100%;
  }

  .background_container {
    padding-top: 0px;
    width: 95%;
    max-width: 575px;
    display: flex;
  }

  .text_container {
    width: 100%;

    height: 200px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .text {
    display: flex;
    width: 100%;

    width: 100%;
    height: 100px;
    max-height: 150px;
    line-height: 40px; //
    font-size: 35px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 90px;
  }

  .text_name {
    width: 100%;
  }

  .button_container {
    display: flex;

    width: 100%;
    height: 100%;

    margin-top: 100px;
  }

  .button_flex {
    width: 100%;
  }

  .flex-item {
    display: flex;
    width: 100%;
    margin-right: 10px;
    min-width: 300px;
  }

  .chevron_container {
    float: right;
    margin-left: auto;
    margin-right: 10px;
    width: 15px;
  }
}

@media screen and (min-width: 575px) and (max-width: 815px) {
  .background_honeycomb {
    float: right;
    width: 30%;
    height: 320px;

    background-position: 50% 50%;
    background-size: cover;
    z-index: 1000;
    top: 70px;
  }

  .logo_container {
    margin-top: 5px;
    margin-left: 50px;
  }

  .random_shape {
    display: none;
  }

  .background_container {
    max-width: 650px;
    margin-left: 20px;
  }

  .text {
    width: 100%;
    font-size: 55px;
    line-height: 40px;
    height: auto;
    margin-bottom: -20px;
    margin-top: 250px;
  }

  .button_container {
    margin-top: 40px;
    margin-bottom: 300px;
  }

  .button_flex {
    width: 500px;
  }
}

@media screen and (max-width: 650px) and (min-width: 575px) {
  .background_honeycomb {
    display: none;
  }

  .text {
    margin-top: auto;
  }
}

@media screen and (max-width: 800px) {
  .contact_container {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0 auto;

    height: 400px;
    background-color: #009345;
    z-index: 75;
    padding-top: 10px;
  }

  .time-flex p {
    width: 100%;
    max-width: 340px;
  }
  .contact-flex {
    flex-direction: column;
    align-items: center;
    padding: 0;

    width: 100%;
  }

  .contact-flex li {
    padding: 0;

    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
  }

  .contact-flex p {
    padding-top: 20px;
    margin: 0 auto;
  }

  .icon_container {
    margin: 0 auto;
  }

  .phone-flex p {
    padding-left: 20px;
  }

  .social-flex p {
    padding-left: 20px;
  }

  .social-flex {
    margin-left: 20px;
  }

  .location-flex p {
    padding-left: 15px;
  }
}

@media screen and (min-width: 815px) and (max-width: 830px) {
  .background_honeycomb {
    position: absolute;
    right: -100px;
    top: 70px;
    float: right;
    width: 400px;
    height: 400px;
    overflow: hidden;

    background-position: 50% 50%;
    background-size: cover;
    z-index: 1000;
  }

  .text_container {
    margin-top: 300px;
  }

  .background_container {
    padding-left: 25px;
  }

  .logo_container {
    margin-top: 5px;
    margin-left: 50px;
  }

  .random_shape {
    display: none;
  }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
  .contact_container {
    width: 90%;

    z-index: 75;
    padding-top: 10px;
    margin-bottom: 100px;
  }

  .time-flex p {
    width: 100%;
    max-width: 340px;
  }
  .contact-flex {
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-width: 831px) and (max-width: 1100px) {
  .background_honeycomb {
    position: absolute;
    right: -100px;
    top: 10px;
    float: right;
    width: 40%;
    height: 400px;
    overflow: hidden;

    background-position: 50% 50%;
    background-size: cover;
    z-index: 50;
  }

  .header {
    width: 70%;
  }

  .logo_container {
    margin-left: 0;
  }

  .innerheader {
    margin-left: 20px;
  }

  .header_nav {
    padding-left: 20%;
  }

  .random_shape {
    width: 30%;
  }

  .menu_item {
    padding: 6px 10px 6px 15px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
  .background_honeycomb {
    position: absolute;
    right: -100px;
    top: 10px;
    float: right;
    width: 40%;
    height: 400px;
    overflow: hidden;

    background-position: 50% 50%;
    background-size: cover;
    z-index: 50;
  }
}
