.listing-container {
  width: 100%;
  height: 1400px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  padding-top: 150px;
}

.listing-wrapper {
  height: 100%;

  max-width: 1100px;
  margin: 0 auto;
  display: flex;
}

.listing-header {
  width: 600px;
  height: 150px;
  color: #37b34a;
  font-size: xx-large;
}

.left-section {
  width: 50%;
  height: 100%;
}

.specs-container {
  width: 100%;

  height: 600px;
  display: flex;
}

.specification {
  width: 100%;
  height: 30px;
  color: black;
  font-size: large;
  float: right;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.seperator {
  width: 100%;
  height: 1px;
  background-color: black;
}

.spec-wrapper {
  float: right;
  width: 50%;
  text-transform: uppercase;
}

.attribute {
  width: 100%;
  height: 30px;
  color: black;
  font-size: large;
  float: left;
  margin-bottom: 20px;
  font-weight: bold;
}

.attributes-wrapper {
  width: 50%;
}

.price {
  font-size: xx-large;
  font-weight: bold;
  width: 200px;
}

.right-section {
  height: 100%;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
}

.gallery {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
