.header_nav {
  display: flex;
  min-width: 200px;
  //margin-left: 30px;
  height: 100%;
  padding-left: 35%;
  position: absolute;
}

.header_nav_items {
  height: 100%;
  display: flex;
  width: 100%;
}

.nav_item_dropdown {
  text-decoration: none;
  list-style-type: none;
  position: relative;
  display: inline-block;
  width: 130px;
}

.menu_item {
  padding: 12px 40px 12px 35px;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 15px;
  color: #000;
  text-transform: uppercase;
  display: block;
  font-family: Montserrat;
  font-weight: 600;
  text-decoration: none;

  position: relative;
}

.nav_item {
  text-decoration: none;
  list-style-type: none;
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px; // muudab vahet teiste menu itemitega
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  z-index: 100;
  position: relative;
  display: inline-block;
}

.dropdown a {
  // tekst
  padding: 19px 10px 19px 35px; // top right bottom left
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: block;
  position: relative;
  font-family: Montserrat;
}

@media screen and (min-width: 830px) {
  .nav_item_dropdown:hover {
    // teenused nupp
    background-color: #37b34a;
    transition: background-color 0.2s;
    top: -1px;
  }

  .nav_item_dropdown:hover .dropdown {
    // kui hover dropdown menus
    visibility: visible;

    width: 300px; // muudab vahet teiste menu itemitega
    //background-color: #009345;
    top: 16px;

    background-color: #37b34a;
    transition: background-color 0.2s;
  }

  .dropdown a:hover {
    // hover dropdown menu itemi peal
    background-color: #009345;
  }
}
