.pesutänav { // neljas leht background
    width: 100%;
    background-image: url("../Disain/ideal pildid weebi/uued pildid 5 märts 2019/pesula/_DSF9057_resize.JPG");
  
    min-height: 850px;
    background-position: 40% 60%;
    background-size: cover;
    
  }

  .pesutänav_mobile_container  {
    width: 0;
    height: 0;
    
    visibility: hidden;
  }
  
  .bitmap {
    height: 850px;
    width: 100%;
    background-color: rgba(0,0,0,0.6)
  }
  
  .pesutänav_table {
    //width: 537px;
    //height: 368px;
    //
    float: right;
    margin-top: 226px;
    //margin-right: 151px;
  
    width: 100%;
    min-width: 50%;
    max-width: 500px;
    
  }
  
  .pesutänav_table_rectangle {
    height: 4px;
    width: 48px;
    transform: scaleY(-1);
    background-color: #5AEF2C;
  }

  
  .pesutänav_table_header {
    margin-top: -60px;
    width: 530px;
    height: 132px;
    
    
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 52px;
    
  }
  
  .pesutänav_table_header p {
    height: 104px;
    width: 537px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 52px;
    display: block;
    word-wrap: break-word;
    text-transform: uppercase;
    
  }
  
  .pesutänav_table_header p span1 {
    font-weight: 600;
    color: #5aef2c;
    
    
  }
  
  .pesutänav_table_header p span2{
    font-weight: 600;
    
  }
  
  .pesutänav_table_text p {
    height: 84px;
    width: 480px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: -0.1px;
    line-height: 28px;
  }
  
  .pesutänav_button {
    list-style: none;
    display: flex;
    margin-top: 80px;
    margin-left: -40px;
  }
  
  .button4 {
    box-sizing: border-box;
    height: 64px;
    width: 180px;
    border: 1px solid #5AEF2C;
  }
  
  .button4 p {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.35px;
    margin-top: 22px;
    text-align: center;
    text-transform: uppercase;
  }
  
  /*
  .content_left {
    width: 100%;
    min-width: 50%;
    max-width: 580px;
    margin: 0 auto;
  }
  */
  
  .pesutänav_hexagon_container {
    width: 419px;
    height: 445px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 8.5%;
    color: #ffffff;
  
    
  }
  
  .hexagon_top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    font-family: Montserrat, arial, sans-serif;
  }
  
  .top_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-image: url("../Disain/icons/ideal\ auto\ icons/hexagon.svg");
    position: relative;
  }
  
  .top_left p {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    max-width: 150px;
    margin-top: 45%;
    font-family: Montserrat, arial, sans-serif;
    text-transform: uppercase;
  }
  
  .top_right {
    background-image: url("../Disain/icons/ideal\ auto\ icons/hexagon_black.svg");
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top_right p {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    max-width: 150px;
    margin-top: 45%;
    font-family: Montserrat, arial, sans-serif;
    text-transform: uppercase;
  }
  
  .hexagon_bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    
  }
  
  .bottom {
    background-image: url("../Disain/icons/ideal\ auto\ icons/hexagon_white.svg");
    width: 50%;
    height: 100%;
    margin-top: -30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;

    
  }
  
  .bottom p {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    max-width: 150px;
    margin-top: 45%;
    font-family: Montserrat, arial, sans-serif;
    color: black;
    text-transform: uppercase;


    
    
    
  }

@media screen and (max-width: 575px) { // phone 
    .pesutänav_hexagon_container {
        display: none;
    }


    .pesutänav_table {
        padding-left: 20px;
        margin-top: 100px;
        width: 100%;
        float: left;
        
    }

    .pesutänav_table_header {
        width: 100%;
        display: flex;
        margin-bottom: 60px;
        max-width: 575px;
    }

    .pesutänav_table_header p {
        font-size: 38px;
        line-height: 48px;
    }

    .pesutänav_table_text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 520px;
    }

    .pesutänav_button {
        width: 100%;
    }

    .pesutänav_button li {
        margin-left: 15px;
        width: 100%;
        max-width: 575px;
    }

}



@media screen and (max-width: 1000px) { // phone 
  .pesutänav_hexagon_container {
    display: none;
  }

  .pesutänav_table {
    padding-left: 20px;
    width: 100%;
    float: left;
    
}

  .pesutänav_mobile_container {
    margin-top: 40px;
    visibility: visible;
    height: 100%;
    width: 1000%;
    margin-bottom: -20px;
  }

  .pesutänav_mobile {
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.1px;
    line-height: 28px;
    margin-top: 15px;
    font-family: Montserrat, arial, sans-serif;
    margin-left: 10px;
}

.checkmark {
  float: left;
}

}

@media screen and (min-width: 1000px) and (max-width: 1200px) { // phone 
  .pesutänav_hexagon_container {
    margin-left: 3%;
  }

  .pesutänav_table {
   max-width: 550px;
   
    
   
  }

}