.vahetus {
  height: 820px;
  width: 100%;
  background-color: #25242e;
  margin: auto;
}

.vahetus-honeycomb {
  height: 584.16px;
  width: 551.49px;
  transform: scaleX(-1);
  float: left;
  background-image: url('../Disain/honeycombs/honeycomb MERGED.svg');
}

.honeycomb2 {
  /* lisa honeycomb??? */
  background-image: url('../Disain/honeycombs/honeycomb MERGED.svg');
  width: 320.44px;
  float: left;
  height: 353.35px;
}

.content_right {
  margin: 0 auto;
  height: 684px;
  width: 600px;
  float: right;
  margin-right: 15%;
}

.vahetus_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.vahetus-heading {
  margin-top: 50px;
}

.vahetus-heading p {
  height: 104px;
  width: 496px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  text-transform: uppercase;
}

.vahetus-heading p span {
  font-weight: 300;
}

.vahetus-text {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.1px;
  line-height: 28px;
  max-width: 500px;
  color: #ffffff;
  font-family: Montserrat;
}

.vahetus_rectangle {
  height: 4px;
  width: 48px;
  transform: scaleY(-1);
  background-color: #37b34a;
}

.vahetus-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 48px;
  height: 140px;
  width: 496px;
}

.info-flex {
  list-style: none;
  position: relative;
  height: 140px;
  width: 496px;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.list_item {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 28px;
  font-family: Montserrat, arial, sans-serif;
  color: #ffffff;
}

.diamond_container {
  margin-right: 17px;
  margin-left: 30px;
}

.diamond {
  margin-top: 30px;
  height: 13px;
  width: 13px;
  border: 1px solid #5aef2c;
  transform: rotate(45deg);
  float: left;
}

.vahetus-buttons {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 64px;
  height: 64px;
  width: 421px;
}

.buttons {
  list-style: none;
  margin: auto;
  margin-left: -40px;
  height: 64px;
  width: 211px;
  text-transform: uppercase;
}

.button1 {
  float: left;
  height: 64px;
  width: 211px;
  background-color: #37b34a;
  text-align: center;
}

.button1 p {
  margin-top: 22px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.35px;
  line-height: 18px;
  text-transform: uppercase;
}

.button2 {
  box-sizing: border-box;
  height: 64px;
  width: 186px;
  border: 1px solid #ffffff;
  margin-left: 235px;
}

.button2 p {
  margin-top: 22px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
  line-height: 18px;
  text-align: center;
}

@media screen and (max-width: 575px) {
  // phone

  .vahetus-honeycomb {
    display: none;
  }

  .vahetus-heading {
    display: flex;
  }

  .vahetus-heading p {
    height: 104px;
    width: 496px;
    color: #ffffff;
    font-family: Montserrat, arial, sans-serif;
    font-size: 37px;
    font-weight: 600;
    line-height: 52px;
    padding-bottom: 115px;
    margin-top: 0;
  }

  .content_right {
    width: 100%;
    margin: 0 auto;
  }

  .vahetus-info {
    max-width: 440px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .info-flex {
    float: left;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .list_item {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    max-height: 100px;

    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 28px;
    font-family: Montserrat, arial, sans-serif;
    color: #ffffff;
  }

  .vahetus-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .button2 {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 775px) and (min-width: 575px) {
  .vahetus-honeycomb {
    display: none;
  }

  .content_right {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 776px) and (max-width: 1110px) {
  .vahetus-honeycomb {
    width: 35%;
    height: 60%;
  }

  .content_right {
    margin: 0 auto;
    height: 684px;
    width: 50%;
    margin-right: 13%;
  }
}

@media screen and (min-width: 1110px) and (max-width: 1410px) {
  .vahetus-honeycomb {
    width: 40%;
    height: 60%;
  }

  .content_right {
    margin: 0 auto;
    height: 684px;
    width: 50%;
  }
}
