// Vehicles section
.page-container {
  position: relative;
  height: 700px;
}

.svg-container {
  float: right;
  width: 700px;
  height: 800px;
  margin-top: -150px;
  background-image: url('../Disain/ideal pildid weebi/Kategooriate pildid (väljalõigatud)/kasut.png');
}

.content-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 500px;
}

.content-title {
  padding-top: 170px;
  font-size: xxx-large;
  text-transform: uppercase;
  color: #37b34a;
}

.rectangle {
  height: 4px;
  width: 48px;
  transform: scaleY(-1);
  background-color: #37b34a;
  margin-top: 20px;
  margin-bottom: 50px;
}

.content-table {
  width: 100%;
  height: 300px;
  //display: flex;
  //flex-direction: column;
}

.icon {
  background: url('../Disain/icons/ideal auto icons/checkmark.svg');
  height: 29px;
  width: 29px;
  float: left;
  margin-right: 10px;
}

.content {
  //float: right;
  margin-bottom: 20px;
  padding-top: 5px;
}

// Listings section

.listings-header {
  background-color: #37b34a;
}

.listings-container {
  margin: 0 auto;
}

.vehicles-wrapper {
  width: 100%;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;

  letter-spacing: 0.55px;
  line-height: 13px;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.big-column {
  height: 100%;

  padding-bottom: 30px;

  margin-right: auto;
  margin-left: auto;
}

.column {
  height: 100%;
  width: 100%;
  max-width: 147px;
  border-radius: 5px;
}

.vehicles-wrapper button {
  border: none;
  background-color: #37b34a;

  letter-spacing: 0.55px;
  line-height: 13px;
  font-size: 11px;
  color: #f5f5f5;
  font-weight: bold;
  text-transform: uppercase;

  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.listings-wrapper {
  width: 100%;
  display: flex;

  margin: 0 auto;

  letter-spacing: 0.55px;
  line-height: 13px;
  font-size: 11px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;

  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: #f5f5f5;

  transition: transform 0.2s;
}

.listing {
  display: flex;
  height: 100%;
  margin: 0 auto;

  max-width: 1320px;
  width: 100%;
}

.listings-wrapper:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.separator {
  width: 100%;
  background-color: white;
  height: 2px;
  margin-top: 0px;
}

.information {
  width: 100%;
  max-width: 150px;
  padding-top: 25px;
}

.big-information {
  height: 100%;

  max-width: 400px;
  white-space: initial;
  padding-left: 0px;
}

.car {
  float: left;
  padding-right: 10px;
  margin-top: 5px;
}

.name {
  width: 100%;
  max-width: 200px;
  white-space: initial;
  left: 0px;
  padding-top: 25px;
}

.sort-asc {
  background: url(../Disain/arrowDOWN.svg) no-repeat;
  width: 20px;
  height: 28px;
  float: right;
  margin-left: -20px;
  margin-top: -5px;
}

.sort-desc {
  background: url(../Disain/arrowUP.svg) no-repeat;
  width: 20px;
  height: 28px;
  float: right;
  margin-left: -20px;
  margin-top: -5px;
}

.search {
  margin-right: 15px;
  margin-bottom: 20px;

  border: 1px solid #ffffff;

  outline: none;
}

//Modal

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 800px;
  height: 830px;
  padding: 2rem;
  overflow: hidden;
}

.modal-header {
  margin-bottom: 30px;
  height: auto;
  width: 100%;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  height: 30px;
  width: 35px;
  float: right;
}

button {
  border: none;
  cursor: pointer;
  padding: 0px;
  background-color: #f5f5f5;
  float: right;
}

.modal-content {
  justify-content: space-around;
  width: 100%;
  height: auto;
  text-transform: capitalize;

  float: left;
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.thumbnail {
  margin-top: 20px;
  float: left;
}

.modal-info {
  margin-top: 20px;
  height: 30px;
  float: rigth;
}

.modal-info span {
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 600;
  float: left;
}

.modal-info text {
  float: right;
}

.modal-seperator {
  width: 100%;
  height: 1px;
  background-color: gray;
}

.link {
  margin-top: 240px;
  margin-left: 100px;
  float: left;
  color: green;
}
